* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  color: #f2f2f8;
  background-image: url('./Assets/EarthAtmosphere.png');
  background-size: cover; 
  background-position: center; 
}

h1{
  padding: 10px;
}

